.service_image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.service_font {
    font-size: 0.8em;
    color: black;
}

.service_font:hover {
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to bottom, #f1f1f2, #bcbabe);
}

.service_title {
    font-size: 1.25em;
}